# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# Python Packaging
build/
dist/
*.egg-info/

# -----------------------------
# VS Code / IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Firebase
# -----------------------------
.firebase/
firebase-debug.log

# -----------------------------
# Arduino / ESP32
# -----------------------------
*.bin
*.elf

# -----------------------------
# Temporary Files
# -----------------------------
*.tmp
*.bak
